# normalize text files to LF in repo
* text=auto

*.go text eol=lf
*.mod text eol=lf
*.sum text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.plist text eol=lf
*.nsh text eol=lf
Makefile text eol=lf
*.ps1 text eol=crlf
*.png binary
*.ico binary
*.exe binary
*.zip binary
*.tar.gz binary
